@import url(root.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&family=Sunflower:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.container {
    max-width: 1140px !important;
}

.comp-img {
    background-image: url(../images/backimg.png);
    background-size: cover;
    background-position: fixed;
}

.gap-40 {
    gap: 40px;
}

.nav-btn {
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 82px;
    border: none;
    background: var(--White, #FFF);
}

.shadow-1 {
    width: 184px;
    height: 184px;
    flex-shrink: 0;
    fill: #FFF;
    filter: blur(124px);
    position: absolute;
    top: 0%;
    left: 0;
    background: #FFF;
}

@media (max-width:800px) {
    label[id="menuIcon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: fixed;
        right: 5%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;
    }

    label[id="menuIcon"]>span {
        width: 100%;
        height: 5px;
        background: #FFF;
    }

    .nav-flip {
        /* display: flex; */
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 3;
    }

    .fix-lft {
        left: 0;
    }
}

/* sec-1 */
.sec-1-para-1 {
    max-width: 550px;
    font-style: normal;
    line-height: 108.687%;
    text-transform: uppercase;
}

.sec-1-para-2 {
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    max-width: 550px;
}

.sec-1-btn-1 {
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 82px;
    background: none;
    border: 1px solid white;
    background-color: #FFF;
}

.sec-1-btn-2 {
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 82px;
    background: none;
    border: 1px solid white;
}

.sec-1-btn-1:hover {
    font-weight: var(--fw-xl);
}

.sec-1-btn-2:hover {
    font-weight: var(--fw-xl);
}

.gap-30 {
    gap: 30px;
}

.pb-65 {
    padding-bottom: 65px;
}

.sec-1-bg-img {
    background-image: url(../images/sec-1-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.7;
}

.pt-160 {
    padding-top: 160px;
}

.pb-190 {
    padding-bottom: 190px;
}

p {
    margin-bottom: 0 !important;
}



.sec-1-lines::after {
    content: '';
    width: 154px;
    height: 2px;
    transform: rotate(-3.516deg);
    flex-shrink: 0;
    stroke-width: 1px;
    background-color: #FFF;
    position: absolute;
    top: 60%;
    left: 20%;
}

.sec-1-lines::before {
    content: '';
    width: 154px;
    height: 2px;
    transform: rotate(-3.484deg);
    flex-shrink: 0;
    background-color: #FFF;
    stroke-width: 1px;
    position: absolute;
    top: 50%;
    left: 20%;

}

/* sec-2 */

.sec-2-card-1 {
    padding: 16px;
    gap: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
}



.sec-2-btn {
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 82px;
    border: 1px solid var(--White, #FFF);
}

.sec-2-btn:hover {
    font-weight: var(--fw-xl);
}

.pt-50 {
    padding-top: 50px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-100 {
    padding-bottom: 100px;
}

.upcoming-lines::after {
    content: '';
    width: 344px;
    height: 2px;
    transform: rotate(-3.516deg);
    flex-shrink: 0;
    stroke-width: 1px;
    background-color: #FFF;
    position: absolute;
    top: 6%;
    left: 40%;
}

.upcoming-lines::before {
    content: '';
    width: 344px;
    height: 2px;
    transform: rotate(-3.484deg);
    flex-shrink: 0;
    background-color: #FFF;
    stroke-width: 1px;
    position: absolute;
    top: 20%;
    left: 31%;

}

/* sec-3 */

.sec-3-card {

    padding: 20px;
    border-radius: 12px;
}

.sec-3-card:hover {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);


}

.sec-3-para-1 {
    font-style: normal;
    line-height: 150%;
    opacity: 0.7;
    max-width: 203px;
}

.moon-light {
    width: 74px;
    height: 74px;
    background-color: #FFF;
    border-radius: 50%;
    display: none;
    position: absolute;
    top: -9%;
    left: 80%;
}

.hover:hover .moon-light {
    display: flex;
}



.service-lines::after {
    content: '';
    width: 344px;
    height: 2px;
    transform: rotate(-3.516deg);
    flex-shrink: 0;
    stroke-width: 1px;
    background-color: #FFF;
    position: absolute;
    top: 23%;
    left: 31%;
}

.service-lines::before {
    content: '';
    width: 344px;
    height: 2px;
    transform: rotate(-3.484deg);
    flex-shrink: 0;
    background-color: #FFF;
    stroke-width: 1px;
    position: absolute;
    top: 9%;
    left: 40%;

}

.shadow-3 {
    width: 209px;
    height: 209px;
    flex-shrink: 0;
    fill: #FFF;
    filter: blur(124px);
    position: absolute;
    bottom: -209%;
    left: 0%;
    background: #FFF;
}

/* sec-4 */
.sec_4_bg_img {
    background-image: url('../images/sec-4-bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.sec-4-para-1 {
    max-width: 500px;
    font-style: normal;
    line-height: 150%;
    text-align: center;
}

.sec-4-lines::after {
    content: '';
    width: 344px;
    height: 2px;
    transform: rotate(-3.516deg);
    flex-shrink: 0;
    stroke-width: 1px;
    background-color: #000;
    position: absolute;
    top: 19%;
    left: 31%;
}

.sec-4-lines::before {
    content: '';
    width: 344px;
    height: 2px;
    transform: rotate(-3.484deg);
    flex-shrink: 0;
    background-color: #000;
    stroke-width: 1px;
    position: absolute;
    top: 10%;
    left: 40%;

}

.pt-100 {
    padding-top: 100px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.sec-4-btn {
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 82px;
    border: 1px solid var(--black, #000);
}

.sec-4-btn:hover {
    font-weight: var(--fw-xl);
}

.sec-4-hv {
    transition: all linear 500ms;
}

.sec-4-hv:hover {
    transform: scale(110%);
}

.tokyo_card_1 {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    transition: all linear 500ms;
}

.tokyo_text {
    border-radius: 0px 0px 8px 8px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px -1px 11px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(4.5px);
    width: 100%;
    height: 20%;
    opacity: 0;
    position: absolute;
    bottom: 0%;
    transition: all 0.3s ease;

}

.tokyo_text * {
    transform: translateY(-30%);
    transition: all 0.3s ease;
    opacity: 0;
}

.tokyo_card_1:hover .tokyo_text {
    opacity: 1;
}

.tokyo_card_1:hover .tokyo_text * {
    opacity: 1;
    transform: translateY(0);

}

.tokyo_card_1:hover {
    transform: scale(120%, 110%);
    z-index: 1;
}

.shadow-2 {
    width: 209px;
    height: 209px;
    flex-shrink: 0;
    fill: #FFF;
    filter: blur(124px);
    position: absolute;
    top: 415%;
    right: 0%;
    background: #FFF;
}

/* sec-5 */

.sec-5-para-1 {
    text-align: center;
    font-style: normal;
    line-height: 180%;
    max-width: 550px;
}

.p-8 {
    padding: 8px;
}

.sec-5-lines::after {
    content: '';
    width: 344px;
    height: 2px;
    transform: rotate(-3.516deg);
    flex-shrink: 0;
    stroke-width: 1px;
    background-color: #FFF;
    position: absolute;
    top: 13%;
    left: 31%;
}

.sec-5-lines::before {
    content: '';
    width: 344px;
    height: 2px;
    transform: rotate(-3.484deg);
    flex-shrink: 0;
    background-color: #FFF;
    stroke-width: 1px;
    position: absolute;
    top: 4%;
    left: 40%;

}


.gap-25 {
    gap: 25px;
}

.pt-160 {
    padding-top: 160px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-70 {
    padding-bottom: 70px;
}

.ftr-lab {
    border-top: 1px solid white;
}

.app-icon {
    transition: all linear 500ms;

}

.app-icon:hover {
    transform: translateY(-40%);
}

.shadow-4 {
    width: 209px;
    height: 209px;
    flex-shrink: 0;
    fill: #FFF;
    filter: blur(124px);
    position: absolute;
    top: 207%;
    right: 0%;
    background: #FFF;
}


@media (max-width:1200px) {
    .mt-xl-20 {
        margin-top: 20px;
    }

    .sec-1-lines::after {
        display: none;
    }

    .sec-1-lines::before {
        display: none;
    }

    .sec-4-lines::after {
        display: none;
    }

    .sec-4-lines::before {
        display: none;
    }

    .upcoming-lines::after {
        top: 3%;
        left: 40%;
        width: 300px;
    }

    .upcoming-lines::before {
        top: 11%;
        left: 31%;
        width: 300px;

    }

    .service-lines::after {
        top: 6%;
        left: 40%;
        width: 300px;
    }

    .service-lines::before {
        top: 17%;
        left: 31%;
        width: 300px;

    }

    .sec-4-lines::after {
        top: 11%;
        left: 40%;
        width: 300px;
    }

    .sec-4-lines::before {
        top: 3%;
        left: 31%;
        width: 300px;

    }

    .sec-5-lines::after {
        top: 3%;
        left: 40%;
        width: 300px;
    }

    .sec-5-lines::before {
        top: 10%;
        left: 31%;
        width: 300px;

    }

    .sec-3-para-1 {
        max-width: 380px;
    }

    .shadow-1 {
        display: none;
    }

    .shadow-2 {
        display: none;
    }

    .shadow-3 {
        display: none;
    }

    .shadow-4 {
        display: none;
    }
}

@media (max-width:992px) {
    .mt-lg-20 {
        margin-top: 20px;
    }

    .sec-4-lines::after {
        display: none;
    }

    .py-sm-20 {
        padding-top: 20px;
        padding-bottom: 20px !important;

    }

    .moon-light {
        width: 55px;
        height: 55px;
        top: 1%;
        left: 86%;
    }

    .sec-4-lines::before {
        display: none;
    }

    .upcoming-lines::after {
        display: none;
    }

    .upcoming-lines::before {
        display: none;
    }

    .sec-5-lines::after {
        display: none;
    }

    .sec-5-lines::before {
        display: none;
    }

    .sec-5-lines::after {
        top: 10%;
        left: 40%;
        width: 300px;
    }

    .service-lines::after {
        display: none;
    }

    .service-lines::before {
        display: none;

    }

    .pt-md-250 {
        padding-top: 250px;
    }

    .arrow-sign {
        display: none;
    }

    .sec-5-lines::before {
        top: 2%;
        left: 31%;
        width: 300px;

    }

    .pt-sm-20 {
        padding-top: 20px;
    }
}

@media (max-width:768px) {
    .mt-md-20 {
        margin-top: 20px;
    }

    .fs-xl {
        font-size: var(--fs-sm1);
    }

    .sec-5-para-1 {
        line-height: 150%;
        font-weight: var(--fw-xl1);
    }

    .sec-2-head {
        font-size: var(--fs-sm1);
    }

    .service-head {
        font-size: var(--fs-sm1);
    }

    .pb-70 {
        padding-bottom: 0;
    }

    .pt-md-250 {
        padding-top: 250px;
    }

}

@media (max-width:576px) {
    .upcoming-lines::after {
        top: 6%;
        left: 31%;
        width: 210px;
    }

    .pb-65 {
        padding-bottom: 0;
    }

    .pb-100 {
        padding-bottom: 0;
    }

    .pb-sm-100 {
        padding-bottom: 100px;
    }

    .sec-1-btn-1 {
        font-size: var(--fs-sm11);

    }


    .sec-1-btn-2 {
        font-size: var(--fs-sm11);

    }

    .upcoming-lines::before {
        top: 1%;
        left: 7%;
        width: 210px;

    }


    .service-lines::after {
        top: 8%;
        left: 31%;
        width: 210px;
    }

    .service-lines::before {
        top: 3%;
        left: 7%;
        width: 210px;

    }

    .sec-4-lines::after {
        top: 6%;
        left: 31%;
        width: 210px;
    }

    .sec-4-lines::before {
        top: 1%;
        left: 7%;
        width: 210px;

    }

    .sec-5-lines::after {
        top: 9%;
        left: 31%;
        width: 210px;
    }

    .sec-5-lines::before {
        top: 4%;
        left: 7%;
        width: 210px;

    }

    .pb-190 {
        padding-bottom: 0;
    }

    .pt-20 {
        padding-top: 10px;
    }

    .pb-sm-50 {
        padding-bottom: 50px;
    }

    .pb-sm-100 {
        padding-bottom: 100px;
    }

    .fs-sm {
        font-size: var(--fs-sm11);
    }

}